<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic metas -->
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts & favicons -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Header -->
    {% include "../blocks/header/header.html" %}
    <!-- Footer -->
    {% include "../blocks/footer/footer.html" %}
    <!-- Scripts -->
    <script src="js/common.js"></script>
</body>

</html>